@use "../../index" as index;
@use "../../Pages/LandingPage/LandingPage.module.scss" as landingPage;

.NavContainer {
  width: 98.8vw;
  height: 12vh;
  color: index.$base-color;
  border-bottom: 1px solid index.$base-color;
  background-color: index.$base-backgroundColor;
  .elementsDiv {
    width: 95vw;
    margin: auto;
    display: flex;
    height: inherit;
    .DarkMode,
    .HamburgerTitle {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .HamburgerTitle {
      position: relative;
      .HamburgerBlock {
        position: absolute;
        left: 0;
        top: 50px;
        ul {
          min-width:12vw;
          font-size: 15px;
          padding: 20px 10px ;
          color: #000000;
          border-radius: 3px;
          background: rgb(239, 233, 233);
          list-style-type: none;
        }
        li{
          padding: 8px;
          font-weight: bold;

          margin-bottom: 8px;
          border: 2px solid black;
          color: rgb(225, 224, 224);
          background-color: landingPage.$box-color;
        }
      }
      li > *{
        color: whitesmoke;  
      }
      .icon {
        width: 25px;
        height: 70px;
        margin-right: 10px;
        transition: ease-in-out;
      }
      li:hover{
        cursor: pointer;
        background-color: landingPage.$box-background;
      }
      .icon:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      h3 {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .DarkMode {
      justify-content: flex-end;
      & > * {
        margin-right: 10px;
        font-size: 18px;
      }
    }
  }
}
