@use "../Preview/Preview.module.scss" as preview;
@mixin headerh3 {
  font-size: 18px;
  color: whitesmoke;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ControlsContainer {
  width: 100%;
  height: 93vh;
  color: rgb(64, 64, 64);
  .ControlBox {
    display: flex;
    width: inherit;
    padding-left: 28px;
    border-radius: 3px;
    height: fit-content;
    flex-direction: column;
    h2 {
      @include preview.headerStyle;
    }
  }
  .Select {
    .colorConatainer {
      position: relative;
      .Hexcolor {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .colorPicker {
        width: 90%;
        height: 31.2px;
        border-radius: 2px;
        padding: 4px 0 0 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .MapContainer {
      width: 90%;
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
      .StyleBlocks {
        height: 80px;
        width: 80px;
      }
    }
    .Selectitems,
    .input {
      width: 90%;
      height: 31.2px;
      padding: 4px 0 0 10px;
    }
    h3 {
      @include headerh3;
    }
  }
}

@media screen and (max-width: "600px") {
  .ControlsContainer {
      height: fit-content;
    .ControlBox {
      min-width: 100vw;
      padding-left: 20px;
    }
  }
}
